a.waves-effect.active{
  color: #fff !important;
}

/* Password Strength Validation */
.Short {
	width: 100%;
	background-color: #dc3545;
	margin-top: 5px;
	height: 3px;
	color: #dc3545;
	font-weight: 500;
	font-size: 12px;
 }
 .Weak {
	width: 100%;
	background-color: #ffc107;
	margin-top: 5px;
	height: 3px;
	color: #ffc107;
	font-weight: 500;
	font-size: 12px;
 }
 .Good {
	width: 100%;
	background-color: #d39e00;
	margin-top: 5px;
	height: 3px;
	color: #d39e00;
	font-weight: 500;
	font-size: 12px;
 }
 .Strong {
	width: 100%;
	background-color: #28a745;
	margin-top: 5px;
	height: 3px;
	color: #28a745;
	font-weight: 500;
	font-size: 12px;
 }
#strengthMessage{
  position: relative;
}
#cke_id_description, #cke_id_full_specification{
  width: 100% !important;
}
.django-ckeditor-widget{
  display: block !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.var_image input#imageid{
  display: none;
}
[type=radio]:checked + li img{
  outline: 2px solid #000;
}
ul.var_image_list{
  list-style-type: none;
}
/* label.var_image{
  cursor: pointer;
} */

/* .varImagContainer{
     display:none;
     margin-top:30px;
} */

/* *:focus{
    outline:none !important;
} */

.editGallery .file-caption-main{
  width: 80%;
  max_width: 80%;
}
