asgiref==3.3.1
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
Django==3.1.4
django-admin-thumbnails==0.2.5
django-authtools==1.7.0
django-ckeditor==6.0.0
django-colorfield==0.4.2
django-constance==2.8.0
django-domainname==0.1.1
django-faicon==0.1.0
django-formset-js==0.5.0
django-google-translate==1.1
django-jquery-js==3.1.1
django-js-asset==1.2.2
django-mptt==0.11.0
django-smart-selects==1.5.9
idna==3.2
numpy==1.21.2
Pillow==8.3.1
python-decouple==3.4
pytz==2020.4
PyYAML==5.4.1
redis==3.5.3
requests==2.26.0
simplejson==3.17.2
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
