{% extends 'business/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans 'Choose Homepage Design' %} {% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">



  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">{% trans 'Choose Homepage Layout' %}</h4>
          </div>
        </div>
      </div>

      <!-- end page title -->
      <div class="row">
        <div class="col-12">
          <div class="card container">
            <div class="card-body" style="padding: 3.25rem 1.25rem;">

              <form method="POST" action="{% url 'choosehomepage' %}" enctype="multipart/form-data" id="topbarForm">
                {% csrf_token %}

                <div class="row choosehomepage">
                  
                      {% for front in frontpages %}
                      <div class="col-md-4 col-lg-4 col-sm-12">
                        {% if front.is_active %}
                        <span style="border: 1px solid grey;padding: 9px 20px 9px 20px;border-radius: 10px 10px 0 0;box-shadow: 0px 0px 3px 0 #000;border-bottom: unset !important;position: absolute;top: -28px;margin-left: 1px;"><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Selected</span>
                        {% endif %}
                        <div class="form-group">
                          <label>
                            <input type="radio" name="frontpage" value="{{front.id}}" {% if front.is_active %}checked{% endif %}>
                            <img src="{% if front.preview_image %}{{front.preview_image.url}}{% else %}{% if forloop.counter == 1 %}{% static 'images/default-images/classic-layout.jpg' %}{% elif forloop.counter == 2 %}{% static 'images/default-images/premium-layout.jpg' %}{% elif forloop.counter == 3 %}{% static 'images/default-images/modern-layout.jpg' %}{% endif %} {% endif %}" width="250" style="border: 1px solid #d2d2d2;">
                            <p style="text-align: center;">{% if front.front_page_name == 'Classic' %}Classic{% elif front.front_page_name == 'Premium' %}Video Premium{% elif front.front_page_name == 'Modern' %}Simple Modern{% endif %} {% if forloop.counter == 1 %}(Default){% endif %}</p>
                            <a href="{{front.preview_link}}" target="_blank" class="btn btn-primary" style="margin:auto;display:block;letter-spacing: 2px;">PREVIEW</a>
                          </label>
                          
                        </div>
                      </div>
                      {% endfor %}
                   
                </div>

              <br>
              <button type="submit" class="btn btn-primary mr-1 waves-effect waves-light" style="letter-spacing: 2px;float: right;">{% trans 'SAVE & CONTINUE' %} <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
              <a href="{% url 'homepageSetupArea' %}" class="btn btn-secondary mr-1 waves-effect waves-light" style="float: right;letter-spacing: 2px;">{% trans 'JUMP TO SETUP AREA' %} <i class="fa fa-fast-forward"></i></a>
            </form>
              <br>
              <div>
                {% include 'includes/_alerts.html' %}
              </div>

            </div>
          </div>




        </div>
      </div>
      <!-- end row -->

    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  {% endblock %}
