{% extends 'business/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans 'Terms & Conditions' %} {% endblock %}

{% block content %}
{{ form.media.js }}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">{% trans 'Edit Terms & Policy' %}</h4>



          </div>
        </div>

      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card container">
            <div class="card-body">
              <h4 class="card-title">{% trans 'Edit Terms & Policy' %}</h4>

              <form method="POST" action="{% url 'editTermsConditions' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="logo">{% trans 'Heading' %}</label>
                      {{ form.heading }}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label>{% trans 'Terms & Conditions' %}</label>
                      {{ form.content }}
                    </div>
                  </div>
                </div>

                <br>
                <a onclick="goBack()" class="btn margin-15px-top btn-secondary"><i class="fa fa-arrow-left" aria-hidden="true"></i>{% trans 'Back' %} </a>
                <button type="submit" class="btn btn-primary mr-1 waves-effect waves-light" style="letter-spacing: 2px;"><i class="fas fa-save"></i> {% trans 'SAVE' %}</button>
              </form>
              <br>
              <div>
                {% include 'includes/_alerts.html' %}
              </div>

            </div>
          </div>




        </div>
      </div>
      <!-- end row -->

    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  {% endblock %}
