{% extends 'business/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans 'Edit Store Feature' %} {% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">{% trans 'Add Feature' %}</h4>



          </div>
        </div>

      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card container">
            <div class="card-body">
              <h4 class="card-title">{% trans 'Add Feature' %}</h4>

              <form method="POST" action="{% url 'editFeature' feature.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="logo">{% trans 'Feature Icon' %}<span class="text-muted">&nbsp; 35 x 35px</span></label>
                      {{ form.icon }}
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                      <img src="{{ feature.icon.url }}" alt="Feature Icon" width="50">
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="sitetitle">{% trans 'Title' %}</label>
                      {{ form.title }}
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="favicon">{% trans 'Sub Title' %}</label>
                      {{ form.sub_title }}
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="favicon">{% trans 'Feature URL' %}</label>
                      {{ form.feature_url }}
                    </div>
                </div>
                </div>
                <a onclick="goBack()" class="btn margin-15px-top btn-secondary"><i class="fa fa-arrow-left" aria-hidden="true"></i>{% trans 'Back' %} </a>
                <button type="submit" class="btn btn-primary mr-1 waves-effect waves-light" style="letter-spacing: 2px;"><i class="fas fa-save"></i> {% trans 'SAVE' %}</button>
              </form>
              <br>
              <div style="width:300px;">
                {% include 'includes/_alerts.html' %}
              </div>

            </div>
          </div>




        </div>
      </div>
      <!-- end row -->

    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  {% endblock %}
