{% extends 'business/base.html' %}
{% load static %}
{% block title %} Footer Settings {% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">



  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Footer</h4>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card container">
            <div class="card-body">
              <h4 class="card-title">Footer Copyright</h4>


              <form method="POST" action="{% url 'footerEdit' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      {{ form.as_p }}
                    </div>
                  </div>
                </div>

  

              <br>
                <button type="submit" class="btn btn-primary mr-1 waves-effect waves-light" style="letter-spacing: 2px;"><i class="fas fa-save"></i> SAVE</button>
              </form>
              <br>
              <div>
                {% include 'includes/_alerts.html' %}
              </div>

            </div>
          </div>




        </div>
      </div>
      <!-- end row -->

    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  {% endblock %}
