{% extends 'business/base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Customer Details {% endblock %}
{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Email Detail</h4>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card container">
            <div class="card-body">


              <div class="row billing-fields">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 sm-margin-30px-bottom">
                  <div class="create-ac-content bg-light-gray padding-20px-all">

                    <div class="your-order">
                      <br>


                      <p style="margin-bottom:0;">Status: {% if email.is_sent == True %}<i class="fa fa-check" aria-hidden="true" style="color:#28A745;"></i> Sent{% else %}<i class="fa fa-times" aria-hidden="true" style="color:#DC3545;"></i> Failed{% endif %}</p>
        <p style="margin-bottom:0;">Recipients: {{email.to_address}}</p>
                      <div class="table-responsive-sm order-table">

                        <div class="card">
                          <div class="card-header">
                            <div class="row">
                              <div class="col-12">
                                <h5 class="m-0"><strong>Subject:</strong> {{email.subject }}<span><small class="m-0" style="float:right;margin-bottom:0;">{{email.sent_date}}</small></span></h5>

                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                              <div class="card-body">
                                <div>
                                  {{email.email_body | safe}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>






                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <button onclick="goBack();" class="btn btn-primary"><i class="fas fa-arrow-left"></i>&nbsp Go back</button>
            </div>
          </div>




        </div>
      </div>
      <!-- end row -->

    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  {% endblock %}
