{% extends 'business/base.html' %}
{% load static %}
{% block title %} Send an Email {% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Send An Email</h4>
          </div>
        </div>

      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card container">
            <div class="card-body">
              <h4 class="card-title">Send An Email</h4>
<br>
              <form method="POST" action="{% url 'send_email' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="logo">To Address</label>
                      {{ form.to_address }}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="logo">Subject</label>
                      {{ form.subject }}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="logo">Email Body</label>
                      {{ form.email_body }}
                    </div>
                  </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary mr-1 waves-effect waves-light" style="letter-spacing: 2px;"> SEND <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
              </form>
              <br>
              <div style="width:300px;">
                {% include 'includes/_alerts.html' %}
              </div>

            </div>
          </div>




        </div>
      </div>
      <!-- end row -->

    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  {% endblock %}
