{% extends 'base.html' %}
{% block title %} Password Reset {% endblock %}
{% block content %}
<div id="page-content">
  <!--Body Container-->
  <!--Breadcrumbs-->
  <div class="breadcrumbs-wrapper">
    <div class="container">
      <div class="breadcrumbs"><a href="{% url 'home' %}" title="Back to the home page">Home</a> <span aria-hidden="true">|</span> <span>Reset Your Password</span></div>
    </div>
  </div>
  <!--End Breadcrumbs-->
  <!--Page Title with Image-->
  <div class="page-title">
    <h1>Reset Your Password</h1>
  </div>
  <!--End Page Title with Image-->
  <div class="container">
    <div class="row">
      <!--Main Content-->
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 box offset-3">
        {% include 'includes/_alerts.html' %}
        <div class="mb-4">
          <form method="post" action="{% url 'biz_password_reset' %}" accept-charset="UTF-8" class="contact-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="CustomerPassword">Password <span class="required">*</span></label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password" required>
                    </div>
                    <div id="strengthMessage" style="margin-bottom:20px;"></div>
                </div>
                <br><br>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="CustomerConfirmPassword">Confirm Password <span class="required">*</span></label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm password" required>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                <input type="submit" class="btn mb-3" value="Submit">
                <p class="mb-4">
                  <a href="{% url 'userLogin' %}">« Back To Login Page</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--End Main Content-->
    </div>

  </div>
  <!--End Body Container-->

</div>
<!--End Page Wrapper-->
{% endblock %}
