{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans 'Register' %} {% endblock %}
{% block content %}

<div id="page-content">
      <!--Body Container-->
      <!--Breadcrumbs-->
      <div class="breadcrumbs-wrapper">
        <div class="container">
            <div class="breadcrumbs"><a href="{% url 'home' %}" title="Back to the home page">{% trans 'Home' %}</a> <span aria-hidden="true">|</span> <span>{% trans 'Create An Account' %}</span></div>
          </div>
      </div>
      <!--End Breadcrumbs-->
      <!--Page Title with Image-->
      <div class="page-title"><h1>{% trans 'Create An Account' %}</h1></div>
      <!--End Page Title with Image-->
      <div class="container">
        <!--Main Content-->
        {% include 'includes/_alerts.html' %}
          <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 box">
                <div class="mb-4">
                    <h3>{% trans 'Personal Information' %}</h3>
                     <form method="post" action="{% url 'userRegister' %}" accept-charset="UTF-8" class="contact-form">
                       {% csrf_token %}
                          <div class="row">
                              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                  <div class="form-group">
                                      <label for="CustomerFirstName">{% trans 'First Name' %} <span class="required">*</span></label>
                                      <input id="CustomerFirstName" type="text" name="first_name" required>
                                  </div>
                              </div>
                              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                  <div class="form-group">
                                      <label for="CustomerLastName">{% trans 'Last Name' %} <span class="required">*</span></label>
                                      <input id="CustomerLastName" type="text" name="last_name" required>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                  <div class="form-group">
                                      <label for="CustomerUsername">{% trans 'Username' %} <span class="required">*</span></label>
                                      <input id="CustomerUsername" type="text" name="username" required>
                                  </div>
                              </div>
                              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                  <div class="form-group">
                                    <label for="CustomerEmail">{% trans 'Email Address' %} <span class="required">*</span></label>
                                    <input id="CustomerEmail" type="email" name="email" required>
                                  </div>
                              </div>
                          </div>

                          <h3>{% trans 'Login Information' %}</h3>
                          <div class="row">
                              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                  <div class="form-group">
                                      <label for="CustomerPassword">{% trans 'Password' %} <span class="required">*</span></label>
                                      <input id="CustomerPassword" type="password" name="password" required>
                                  </div>
                                  <div id="strengthMessage"></div>
                              </div>

                              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                  <div class="form-group">
                                      <label for="CustomerConfirmPassword">{% trans 'Confirm Password' %} <span class="required">*</span></label>
                                      <input id="CustomerConfirmPassword" type="Password" name="confirm_password" required>
                                  </div>
                              </div>
                          </div>
                          <br>
                          <div class="row">
                              <div class="text-left col-12 col-sm-12 col-md-6 col-lg-6">
                                  <!-- <input type="submit" class="btn mb-3" value="Submit"> -->
                                  <button onclick="return giveAlert()" class="btn mb-3">{% trans 'Register' %}</button>
                              </div>
                              <div class="text-right col-12 col-sm-12 col-md-6 col-lg-6">
                                <a href="{% url 'userLogin' %}">« {% trans 'Back To Login' %}</a>
                              </div>
                        </div>
                   </form>
                  </div>
              </div>
    </div>
        <!--End Main Content-->
      </div><!--End Body Container-->

  </div><!--End Page Wrapper-->

{% endblock %}
