{% extends 'base.html' %}
{% block title %} About Us {% endblock %}
{% block content %}
{% load static %}
<div id="page-content">
        <!--Body Container-->
        <!--Breadcrumbs-->
        <div class="breadcrumbs-wrapper">
        	<div class="container">
            	<div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a> <span aria-hidden="true">|</span> <span>About Us</span></div>
            </div>
        </div>
        <!--End Breadcrumbs-->
        <div class="container">
        	<div class="page-title"><h1>{{about_page.heading}}</h1></div>
			<div class="top-text-block">
        {% if about_page.sub_heading %}
            	<p class="mb-4">{{about_page.sub_heading | safe }}</p>
            {% else %}
Your sub heading content goes here
            {% endif %}
            </div>
        	
           

        </div><!--End Body Container-->
    </div><!--End Page Wrapper-->
{% endblock %}
