{% extends 'base.html' %}
{% block title %} Contact {% endblock %}

{% block content %}
{% load faicon %}
<div id="page-content">
  <!--Body Container-->
  <!--Breadcrumbs-->
  <div class="breadcrumbs-wrapper">
    <div class="container">
      <div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a> <span aria-hidden="true">|</span> <span>Contact Us</span></div>
    </div>
  </div>
  <!--End Breadcrumbs-->
  <div class="container">
    <div class="page-title">
      <h1>Contact Us</h1>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 mb-4">
        <h2>Drop Us A Line</h2>
        <p>Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500 </p>
        <div class="formFeilds contact-form form-vertical">
          <form method="post" id="contact_form" class="contact-form">
            {% csrf_token %}
            <input type="hidden" name="business_id" id="business_id" value="{{business.business_id}}">
            {% if user.is_authenticated %}
            <input type="hidden" name="user_id" id="user_id" value="{{user.id}}">
            {% else %}
            <input type="hidden" name="user_id" id="user_id" value="0">
            {% endif %}
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <input type="text" id="name" name="name" placeholder="Name" value="" required>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <input type="email" id="email" name="email" placeholder="Email" value="" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <input required class="inputNumber" type="number" maxlength="12"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                   id="phone" name="phone" placeholder="Phone Number" value="">
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <input required type="text" id="subject" name="subject" placeholder="Subject" value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <textarea required rows="10" id="contact_message" name="contact_message" placeholder="Your Message"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <input type="submit" id='submit' class="btn" value="Send Message">
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <p id="contactMessage"></p>
              </div>
            </div>
          </form>
        </div>

        <!-- OTP VERIFICATION -->
        <div class="otp_form" id="contactOTP">
          <form method="POST" id="contact_otp_form">
            {% csrf_token %}
            <h4>Please enter your OTP here.</h4>
            <!-- <p id="countdown"></p> -->
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <input required type="text" id="otp" name="otp" pattern="[0-9\-]*" placeholder="Enter OTP">
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                      <input type="submit" value="Verify" class="btn" id="otpsubmit" style="width:100%;">
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                      <a onclick="resendOTP()" value="Resend OTP" id="resendotp" class="btn" style="width:100%;background-color:#e95144;color:#ffffff">Resend OTP</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <p id="OTPsuccess" style="margin-top:10px;"></p>
                <p id="OTPfailed" style="margin-top:10px;"></p>
              </div>
            </div>
          </form>
        </div>
        <!-- OTP VERIFICATION END -->

      </div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="contact-details">
          <ul class="addressFooter">
            <li><i class="icon anm anm-map-marker-al"></i>
              <p>{{contact_page.full_address}}</p>
            </li>
            <li class="phone"><i class="icon anm anm-phone-s"></i>
              <p><a href="tel:{{contact_page.phone_number}}">{{contact_page.phone_number}}</a></p>
            </li>
            <li class="email"><i class="icon anm anm-envelope-l"></i>
              <p><a href="mailto:{{contact_page.email}}">{{contact_page.email}}</a></p>
            </li>
          </ul>

          <hr>
          <ul class="list--inline site-footer__social-icons social-icons">
            {% for icon in social_icons %}
            <li><a class="social-icons__link" href="{{ icon.link }}" target="_blank"><i class="{{icon.icon.style}} fa-{{icon.icon.icon}} {{icon.icon.extra}}" aria-hidden="true" style="font-size:20px;"></i></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="map-section map">
          {% if contact_page.embed_google_map %}
          {{contact_page.embed_google_map | safe}}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!--End Body Container-->
</div>
<!--End Page Wrapper-->
{% endblock %}
