{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}
    <!--Mobile Menu-->
    <div class="mobile-nav-wrapper" role="navigation">
		<div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
        <ul id="MobileNav" class="mobile-nav">
        	<li class="lvl1 parent megamenu"><a href="index.html">Home <i class="anm anm-plus-l"></i></a>
          <ul>
            <li><a href="#" class="site-nav">Homepages<i class="anm anm-plus-l"></i></a>
              <ul>
              	<li><a href="index.html" class="site-nav">Home 01</a></li>
                <li><a href="index-demo2.html" class="site-nav">Home 02</a></li>
                <li><a href="index-demo3.html" class="site-nav">Home 03</a></li>
                <li><a href="index-demo4.html" class="site-nav">Home 04</a></li>
                <li><a href="index-demo5.html" class="site-nav">Home 05</a></li>
                <li><a href="index-demo6.html" class="site-nav">Home 06</a></li>
                <li><a href="index-demo7.html" class="site-nav">Home 07</a></li>
                <li><a href="index-demo8.html" class="site-nav">Home 08</a></li>
                <li><a href="index-demo9.html" class="site-nav">Home 09</a></li>
<li><a href="index-medical-demo.html" class="site-nav">Medical</a></li>
              </ul>
            </li>
            <li><a href="#" class="site-nav">Homepages<i class="anm anm-plus-l"></i></a>
              <ul>
                <li><a href="index-demo10.html" class="site-nav">Home 10</a></li>
                <li><a href="index-demo11.html" class="site-nav">Home 11</a></li>
                <li><a href="index-demo12.html" class="site-nav">Home 12</a></li>
                <li><a href="index-demo13.html" class="site-nav">Home 13</a></li>
                <li><a href="index-demo14.html" class="site-nav">Home 14</a></li>
                <li><a href="index-demo15.html" class="site-nav">Home 15</a></li>
                <li><a href="index-demo16.html" class="site-nav">Home 16</a></li>
                <li><a href="index-demo17.html" class="site-nav">Home 17</a></li>
                <li><a href="index-demo18.html" class="site-nav">Home 18</a></li>
<li><a href="index-pet-store.html" class="site-nav">Pet Store</a></li>
              </ul>
            </li>
          </ul>
        </li>
        	<li class="lvl1 parent megamenu"><a href="#">Shop <i class="anm anm-plus-l"></i></a>
          <ul>
            <li><a href="#" class="site-nav">Category Page<i class="anm anm-plus-l"></i></a>
              <ul>
              	<li><a href="category-2columns.html" class="site-nav">2 Columns with style1</a></li>
                <li><a href="category-3columns.html" class="site-nav">3 Columns with style2</a></li>
                <li><a href="category-4columns.html" class="site-nav">4 Columns with style3</a></li>
                <li><a href="category-5columns.html" class="site-nav">5 Columns with style4</a></li>
                <li><a href="category-6columns.html" class="site-nav">6 Columns with Fullwidth</a></li>
                <li><a href="category-7columns.html" class="site-nav">7 Columns</a></li>
                <li><a href="category-empty.html" class="site-nav last">Category Empty</a></li>
              </ul>
            </li>
            <li><a href="#" class="site-nav">Shop Page<i class="anm anm-plus-l"></i></a>
              <ul>
                <li><a href="shop-list-view.html" class="site-nav">List View</a></li>
                <li><a href="shop-category-slideshow.html" class="site-nav">Category Slideshow</a></li>
                <li><a href="shop-left-sidebar.html" class="site-nav">Left Sidebar</a></li>
                <li><a href="shop-right-sidebar.html" class="site-nav">Right Sidebar</a></li>
                <li><a href="shop-fullwidth.html" class="site-nav">Fullwidth/No Sidebar</a></li>
                <li><a href="shop-no-sidebar.html" class="site-nav">No Sidebar/No Filter</a></li>
                <li><a href="shop-category-slideshow.html" class="site-nav last">With category description</a></li>
              </ul>
            </li>
            <li><a href="#" class="site-nav">Shop Page<i class="anm anm-plus-l"></i></a>
            	<ul>
                    <li><a href="shop-left-sidebar.html" class="site-nav">Simple Heading</a></li>
                    <li><a href="shop-small-heading.html" class="site-nav">Small Heading</a></li>
                    <li><a href="shop-no-sidebar.html" class="site-nav">Big Heading With Image</a></li>
                    <li><a href="shop-right-sidebar.html" class="site-nav">Headings With Banner#1</a></li>
                    <li><a href="shop-heading-with-banner2.html" class="site-nav2">Headings With Banner#2</a></li>
                    <li><a href="swatches-style.html" class="site-nav">Swatches Style</a></li>
                    <li><a href="classic-pagination.html" class="site-nav last">Classic Pagination</a></li>
                </ul>
            </li>
            <li><a href="#" class="site-nav">Shop Other Page<i class="anm anm-plus-l"></i></a>
                <ul>
                  <li><a href="my-wishlist.html" class="site-nav">My Wishlist</a></li>
                  <li><a href="cart-style1.html" class="site-nav">Cart Page Style1</a></li>
                  <li><a href="cart-style2.html" class="site-nav">Cart Page Style2</a></li>
                  <li><a href="checkout-style1.html" class="site-nav">Checkout Page Style1</a></li>
                  <li><a href="checkout-style2.html" class="site-nav">Checkout Page Style2</a></li>
                  <li><a href="compare-style1.html" class="site-nav">Compare Page Style1</a></li>
                  <li><a href="compare-style2.html" class="site-nav last">Compare Page Style2</a></li>
                </ul>
            </li>
          </ul>
        </li>
        	<li class="lvl1 parent megamenu"><a href="product-layout1.html">Product <i class="anm anm-plus-l"></i></a>
          <ul>
            <li><a href="product-layout1.html" class="site-nav">Product Page<i class="anm anm-plus-l"></i></a>
              <ul>
                <li><a href="product-layout1.html" class="site-nav">Product Layout1</a></li>
                <li><a href="product-layout2.html" class="site-nav">Product Layout2</a></li>
                <li><a href="product-layout3.html" class="site-nav">Product Layout3</a></li>
                <li><a href="product-layout4.html" class="site-nav">Product Layout4</a></li>
                <li><a href="product-layout5.html" class="site-nav">Product Layout5</a></li>
                <li><a href="product-layout6.html" class="site-nav">Product Layout6</a></li>
                <li><a href="product-layout7.html" class="site-nav">Product Layout7</a></li>
                <li><a href="product-accordian.html" class="site-nav">Product Accordian</a></li>
                <li><a href="product-tabs-left.html" class="site-nav">Product Tabs Left</a></li>
                <li><a href="product-tabs-center.html" class="site-nav last">Product Tabs Center</a></li>
              </ul>
            </li>
            <li><a href="short-description.html" class="site-nav">Product Page Types <i class="anm anm-plus-l"></i></a>
              <ul>
                <li><a href="product-standard.html" class="site-nav">Standard Product</a></li>
                <li><a href="product-variable.html" class="site-nav">Variable Product</a></li>
                <li><a href="product-grouped.html" class="site-nav">Grouped Product</a></li>
                <li><a href="product-layout1.html" class="site-nav">New Product</a></li>
                <li><a href="product-layout2.html" class="site-nav">Sale Product</a></li>
                <li><a href="product-outofstock.html" class="site-nav">Out Of Stock Product</a></li>
                <li><a href="product-external-affiliate.html" class="site-nav">External / Affiliate Product</a></li>
                <li><a href="product-layout1.html" class="site-nav">Variable Image</a></li>
                <li><a href="product-layout4.html" class="site-nav">Variable Select</a></li>
                <li><a href="prodcut-360-degree-view.html" class="site-nav last">360 Degree view</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="lvl1 parent megamenu"><a href="#">Lookbook <i class="anm anm-plus-l"></i></a>
            <ul>
                <li><a href="lookbook-2columns.html" class="site-nav">2 Columns</a></li>
                <li><a href="lookbook-3columns.html" class="site-nav">3 Columns</a></li>
                <li><a href="lookbook-4columns.html" class="site-nav">4 Columns</a></li>
                <li><a href="lookbook-5columns.html" class="site-nav">5 Columns + Fullwidth</a></li>
                <li><a href="lookbook-shop.html" class="site-nav last">Lookbook Shop</a></li>
            </ul>
        </li>
        <li class="lvl1 parent megamenu"><a href="about-us.html">Pages <i class="anm anm-plus-l"></i></a>
          <ul>
          								<li><a href="brands-page.html" class="site-nav">Brands Page</a></li>
                            <li><a href="login.html" class="site-nav">Login</a></li>
			<li><a href="my-account.html" class="site-nav">My Account</a></li>
            <li><a href="aboutus-style1.html" class="site-nav">About Us <i class="anm anm-plus-l"></i></a>
                <ul class="dropdown">
                    <li><a href="aboutus-style1.html" class="site-nav">About Us Style1</a></li>
                    <li><a href="aboutus-style2.html" class="site-nav">About Us Style2</a></li>
                </ul>
            </li>
            <li><a href="contact-style1.html" class="site-nav">Contact Us <i class="anm anm-plus-l"></i></a>
                <ul class="dropdown">
                    <li><a href="contact-style1.html" class="site-nav">Contact Us Style1</a></li>
                    <li><a href="contact-style2.html" class="site-nav">Contact Us Style2</a></li>
                </ul>
            </li>
            <li><a href="faqs-style1.html" class="site-nav">FAQs <i class="anm anm-plus-l"></i></a>
                <ul class="dropdown">
                    <li><a href="faqs-style1.html" class="site-nav">FAQs Style1</a></li>
                    <li><a href="faqs-style2.html" class="site-nav">FAQs Style2</a></li>
                </ul>
            </li>
            <li><a href="cms.html" class="site-nav">CMS</a></li>
            <li><a href="error-404.html" class="site-nav">Error 404</a></li>
            <li><a href="coming-soon.html" class="site-nav">Coming soon</a></li>
          </ul>
        </li>
		<li class="lvl1 parent megamenu"><a href="blog-left-sidebar.html">Blog <i class="anm anm-plus-l"></i></a>
          <ul>
            <li><a href="blog-left-sidebar.html" class="site-nav">Left Sidebar</a></li>
            <li><a href="blog-right-sidebar.html" class="site-nav">Right Sidebar</a></li>
            <li><a href="blog-fullwidth.html" class="site-nav">Fullwidth</a></li>
            <li><a href="blog-2columns.html" class="site-nav">2 Columns</a></li>
            <li><a href="blog-3columns.html" class="site-nav">3 Columns</a></li>
            <li><a href="blog-4columns.html" class="site-nav">4 Columns</a></li>
            <li><a href="blog-single-post.html" class="site-nav">Single Post</a></li>
          </ul>
        </li>

      </ul>
	</div>
	<!--End Mobile Menu-->

    <div id="page-content">
    	<!--Home slider-->
    	<div class="slideshow slideshow-wrapper">
        	<div class="home-slideshow">
            {% if banners %}
            {% for banner in banners %}
            	<div class="slide">
                	<div class="blur-up lazyload">
                        <img class="blur-up lazyload" data-src="{{banner.banner_image.url}}" src="{{banner.banner_image.url}}" alt="Banner Image" title="Banner Image" style="max-height:100vh;" />
                        <div class="slideshow__text-wrap slideshow__overlay {{banner.content_align}}">
                            <div class="slideshow__text-content">
                                <div class="wrap-caption anim-tru left style1">
                                  {% if banner.title %}
                                    <h2 class="h1 mega-title slideshow__title">{{banner.title}}</h2>
                                  {% endif %}
                                  {% if banner.sub_title %}
                                    <span class="mega-subtitle slideshow__subtitle">{{banner.sub_title}}</span>
                                  {% endif %}
                                  {% if banner.button_name %}
                                  <a href="{% if banner.button_link == None %}#{% else %}{{banner.button_link}}{% endif %}" class="btn" style="background-color:{{banner.button_color}};">{{banner.button_name}}</a>

                                  {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}

                <div class="slide">
                    <div class="blur-up lazyload">
                          <img class="blur-up lazyload" data-src="{% static 'images/default-images/site-banner.jpg' %}" src="{% static 'images/default-images/site-banner-01.jpg' %}" alt="Default Banner Image" title="Default Banner Image" style="max-height:100vh;" />
                          <div class="slideshow__text-wrap slideshow__overlay left">
                              <div class="slideshow__text-content">
                                  <div class="wrap-caption anim-tru left style1">
                                      <h2 class="h1 mega-title slideshow__title">Your title goes here</h2>

                                      <span class="mega-subtitle slideshow__subtitle">Your subtitle text goes here</span>

                                    <a href="#" class="btn">BUTTON</a>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="slide">
                      <div class="blur-up lazyload">
                            <img class="blur-up lazyload" data-src="{% static 'images/default-images/site-banner.jpg' %}" src="{% static 'images/default-images/site-banner-01.jpg' %}" alt="Default Banner Image" title="Default Banner Image" style="max-height:100vh;" />
                            <div class="slideshow__text-wrap slideshow__overlay right">
                                <div class="slideshow__text-content">
                                    <div class="wrap-caption anim-tru left style1">
                                        <h2 class="h1 mega-title slideshow__title">Your title goes here</h2>

                                        <span class="mega-subtitle slideshow__subtitle">Your subtitle text goes here</span>

                                      <a href="#" class="btn">BUTTON</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
            </div>
        </div>
        <!--End Home slider-->

        <div class="store-info style2 store-info-section small-pd d-none d-sm-none d-md-block d-lg-block" style="margin-top:-5px;">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <ul class="display-table store-info style2">
                          {% if features %}
                            {% for feature in features %}
                              <li class="display-table-cell">
                                <div style="display:flex;">
                                  <img src="{{feature.icon.url}}" alt="Feature Icon" width="35" style="margin-right:10px;">
                                  {% if feature.feature_url %}
                                   <a href="{{feature.feature_url}}"><h5>{{ feature.title }}</h5> <span class="sub-text"> <span>{{ feature.sub_title }}</span></span></a>
                                  {% else %}
                                   <a><h5>{{ feature.title }}</h5> <span class="sub-text"> <span>{{ feature.sub_title }}</span></span></a>
                                  {% endif %}

                                </div>

                              </li>
                            {% endfor %}
                            {% else %}
                            <li class="display-table-cell">
                              <div style="display:flex;">
                                <img src="{% static 'images/default-images/feature-phone-alt-solid.png' %}" alt="Feature Icon" width="35" style="margin-right:10px;">
                                <a><h5>Call Us Anytime</h5> <span class="sub-text"> <span>+1 (555) 555-5555</span></span></a>
                              </div>

                            </li>
                            <li class="display-table-cell">
                              <div style="display:flex;">
                                <img src="{% static 'images/default-images/feature-truck-solid.png' %}" alt="Feature Icon" width="35" style="margin-right:10px;">
                                <a><h5>Free Shipping</h5> <span class="sub-text"> <span>When you spend $100+</span></span></a>
                              </div>

                            </li>
                            <li class="display-table-cell">
                              <div style="display:flex;">
                                <img src="{% static 'images/default-images/feature-check-circle-solid.png' %}" alt="Feature Icon" width="35" style="margin-right:10px;">
                                <a><h5>Genuine Quality</h5> <span class="sub-text"> <span>All our products are Genuine</span></span></a>
                              </div>

                            </li>
                            <li class="display-table-cell">
                              <div style="display:flex;">
                                <img src="{% static 'images/default-images/feature-lock-solid.png' %}" alt="Feature Icon" width="35" style="margin-right:10px;">
                                <a><h5>Secure Payments</h5> <span class="sub-text"> <span>We accept all major credit cards.</span></span></a>
                              </div>

                            </li>
                          {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Body Container-->
        <div class="container">

            <!--New Arrivals-->
            <div class="section product-slider">
                <div class="section-header">
                    <h2>New Arrivals</h2>
                    <p>Shop our new arrivals from established brands</p>
                </div>
                <div class="productSlider grid-products">
                  {% if new_arrival_products %}
                  {% for product in new_arrival_products %}
                    <div class="col-12 item">
                        <!-- start product image -->
                        <div class="product-image">
                            <!-- start product image -->
                            <a href="{{ product.get_url }}" class="product-img">
                                <!-- image -->
                                <img class="primary blur-up lazyload" data-src="{{ product.image.url }}" src="{{ product.image.url }}" alt="{{ product.product_name }}" title="">
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="hover blur-up lazyload" data-src="{{ product.image_2.url }}" src="{{ product.image_2.url }}" alt="{{ product.product_name }}" title="">
                                <!-- End hover image -->
                                <!-- product label -->
                                <div class="product-labels"><span class="lbl on-sale">New Arrival</span></div>
                                <!-- End product label -->
                            </a>
                            <!-- end product image -->

                        </div>
                        <!-- end product image -->
                        <!--start product details -->
                        <div class="product-details text-center">
                            <!-- product name -->
                            <div class="product-name">
                                <a href="{{ product.get_url }}">{{ product.product_name }}</a>
                            </div>
                            <!-- End product name -->
                            <!-- product price -->
                            <div class="product-price">
                                <span class="price">${{ product.price }}</span>
                            </div>
                            <!-- End product price -->
                            <!--Product Review-->
                            <div class="product-review">
                              <i class="font-13 fa fa-star{% if product.avaregereview < 0.5 %}-o{% elif product.avaregereview >= 0.5 and product.avaregereview < 1 %}-half-o {% else %} {% endif %}"></i>
                              <i class="font-13 fa fa-star{% if product.avaregereview < 1.5 %}-o{% elif product.avaregereview >= 1.5 and product.avaregereview < 2 %}-half-o {% else %} {% endif %}"></i>
                              <i class="font-13 fa fa-star{% if product.avaregereview < 2.5 %}-o{% elif product.avaregereview >= 2.5 and product.avaregereview < 3 %}-half-o {% else %} {% endif %}"></i>
                              <i class="font-13 fa fa-star{% if product.avaregereview < 3.5 %}-o{% elif product.avaregereview >= 3.5 and product.avaregereview < 4 %}-half-o {% else %} {% endif %}"></i>
                              <i class="font-13 fa fa-star{% if product.avaregereview < 4.5 %}-o{% elif product.avaregereview >= 4.5 and product.avaregereview < 5 %}-half-o {% else %} {% endif %}"></i>
                            </div>
                            <!--End Product Review-->

                        </div>
                        <!-- End product details -->
                    </div>
                    {% endfor %}
                    {% else %}

<div class="section-header">
    <h2>No products found</h2>
</div>
                    {% endif %}
                </div>
            </div>
            <!--End New Arrivals-->




            <!--Collection Box slider-->
            <div class="collection-banners style1 section no-pt-section">
            	<div class="row">
                {% for i in categories %}
                	<div class="col-12 col-sm-12 col-md-4 col-lg-4 banner-item">
		                <div class="imgBanner-grid-item">
                            <div class="img">
                                <a href="/shop/category/{{i.slug}}" class="collection-grid-item__link">
                                    <img data-src="{{i.cat_image.url}}" src="{{i.cat_image.url}}" alt="Category {{i.category_name}}" class="blur-up lazyload"/>
                                </a>
                            </div>
                            <div class="details center w-50">
                                <div class="inner">
                                    <h3 class="title">{{i.category_name}}</h3>
                                    <a href="/shop/category/{{i.slug}}" class="btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                    </div>
                </div>
        	</div>
        	<!--End Collection Box slider-->

          <!--Parallax Banner-->
          {% if background.parallax_image %}
        <div class="section parallax-banner-style1" style="padding-bottom:0px;">
            <div class="hero hero--exlarge hero__overlay bg-size">
                <img class="bg-img" src="{{ background.parallax_image.url }}" alt="Background Image">
                <div class="hero__inner">
                    <div class="container">
                        <div class="wrap-text {{background.content_align}} text-small font-bold">
                            <h2 class="h2 mega-title">{{ background.title }}</h2>
                            <div class="rte-setting mega-subtitle">{{background.description | safe}}</div>
                            <a href="{% if background.button_link %}{{background.button_link}}{% else %}#{% endif %}" class="btn" style="background-color:{{background.button_color}}">{{background.button_name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="section parallax-banner-style1" style="padding-bottom:0px;">
            <div class="hero hero--exlarge hero__overlay bg-size">
                <img class="bg-img" src="{% static 'images/default-images/parallax-banner.jpg' %}" alt="Background Image">
                <div class="hero__inner">
                    <div class="container">
                        <div class="wrap-text center text-small font-bold">
                            <h2 class="h2 mega-title">About your business</h2>
                            <div class="rte-setting mega-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
optio, eaque rerum! Provident similique accusantium nemo autem.</div>
                            <a href="#" class="btn">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!--End Parallax Banner-->

     </div><!--End Body Container-->


    </div><!--End Page Wrapper-->

{% endblock %}
