{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans 'Our Gallery' %} {% endblock %}
{% block content %}
{% load static %}


<div id="page-content">
    <!--Services-->
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <div class="breadcrumbs"><a href="{% url 'home' %}" title="Back to the home page">{% trans 'Home' %}</a> <span aria-hidden="true">|</span> <span>{% trans 'Our Gallery' %}</span></div>
        </div>
    </div>
    <div class="style4">
        <div class="container">
            <div class="page-title"><h1 class="mb-2">{{portfolio_header.heading}}</h1>
                <p class="mb-5 text-center" style="width: 70%;margin: auto;">{{portfolio_header.sub_heading}}</p>
            </div>
           
            <div class="row">
                {% for port in portfolio %}
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 card" style="width: 18rem;">
                    <a href="{{ port.get_url }}"><img class="card-img-top" src="{{ port.featured_image.url }}" alt="Featured Image"></a>
                    <div class="card-body">
                        <a href="{{ port.get_url }}"><h3 class="title text-center mt-3 text-uppercase">{{port.title}}</h3></a>
                    <p class="card-text">{{ port.description | safe | truncatewords:20 }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
                        
        </div>
    </div>
    <!--End Services-->
</div>
{% endblock %}