{% load static%}


                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © Altocan
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-right d-none d-sm-block">
                                    Designed & Developed by Altocan
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->
</div>
<!-- END layout-wrapper -->

<!-- Right Sidebar -->
<div class="right-bar">
    <div data-simplebar class="h-100">
        <div class="rightbar-title px-3 py-4">
            <a href="javascript:void(0);" class="right-bar-toggle float-right">
                <i class="mdi mdi-close noti-icon"></i>
            </a>
            <h5 class="m-0">Settings</h5>
        </div>

        <!-- Settings -->
        <hr class="mt-0" />
        <h6 class="text-center mb-0">Choose Layouts</h6>

        <div class="p-4">
            <div class="mb-2">
                <img src="{% static 'business/images/layouts/layout-1.jpg' %}" class="img-fluid img-thumbnail" alt="">
            </div>
            <div class="custom-control custom-switch mb-3">
                <input type="checkbox" class="custom-control-input theme-choice" id="light-mode-switch" checked />
                <label class="custom-control-label" for="light-mode-switch">Light Mode</label>
            </div>

            <div class="mb-2">
                <img src="{% static 'business/images/layouts/layout-2.jpg' %}" class="img-fluid img-thumbnail" alt="">
            </div>
            <div class="custom-control custom-switch mb-3">
                <input type="checkbox" class="custom-control-input theme-choice" id="dark-mode-switch" data-bsStyle="business/css/bootstrap-dark.min.css" data-appStyle="business/css/app-dark.min.css" />
                <label class="custom-control-label" for="dark-mode-switch">Dark Mode</label>
            </div>

            <div class="mb-2">
                <img src="{% static 'business/images/layouts/layout-3.jpg' %}" class="img-fluid img-thumbnail" alt="">
            </div>
            <div class="custom-control custom-switch mb-5">
                <input type="checkbox" class="custom-control-input theme-choice" id="rtl-mode-switch" data-appStyle="business/css/app-rtl.min.css" />
                <label class="custom-control-label" for="rtl-mode-switch">RTL Mode</label>
            </div>


        </div>

    </div>
</div>



<div class="rightbar-overlay"></div>


<script src="{% static 'business/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'business/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'business/libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'business/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'business/libs/node-waves/waves.min.js' %}"></script>


<script src="{% static 'business/libs/apexcharts/apexcharts.min.js' %}"></script>

<script src="{% static 'business/js/pages/dashboard.init.js' %}"></script>


<script src="{% static 'business/js/app.js' %}"></script>

{% if 'site-settings' in request.path %}
  <script src="{% static 'business/js/pages/form-validation.init.js' %}"></script>
  <script src="{% static 'business/js/pages/form-editor.init.js' %}"></script>
  <script src="{% static 'business/libs/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'business/libs/dropzone/min/dropzone.min.js' %}"></script>

{% else %}

{% endif %}


<script type="text/javascript">
  $(document).on('submit', '#save_setting_form', function(e) {
    e.preventDefault();
    // var business = $('#id_business').val();
    var site_title = $('#id_site_title').val();
    var site_logo = $('#id_site_logo').val();
    var copyright = $('#id_copyright').val();
    var csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val()

    $.ajax({
      type: 'POST',
      url: '/business/site-settings/',
      data: {
        // business : business,
        site_title: site_title,
        site_logo: site_logo,
        copyright: copyright,
        csrfmiddlewaretoken: csrfmiddlewaretoken,
      },

      success: function(data) {
        // $('#site_settings').addClass('alert alert-success alert-dismissible fade show');
        // $("#site_settings").html(data);
        alert(data);
      },
      error: function(data){
          alert(data);
      }
    });
  });
</script>
</body>

</html>
