{% load static %}

<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="/business"
                    {% if '/business/' == request.path %}
                      class="waves-effect active"
                    {% else %}
                      class="waves-effect"
                    {% endif %}
                    >
                        <i class="mdi mdi-speedometer"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect
                    {% if '/categories/' == request.path or '/editCategory/' in request.path %} active {% else %} {% endif %}">
                        <i class="bx bx-list-check"></i>
                        <span key="t-ecommerce">Categories</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'allCategories' %}" key="t-products"
                          {% if '/categories/' == request.path %}
                            class="waves-effect active"
                          {% else %}
                            class="waves-effect"
                          {% endif %}
                          >All Categories</a></li>
                        <li><a href="{% url 'addCategory' %}" key="t-product-detail"
                          {% if '/addCategory/' == request.path %}
                            class="waves-effect active"
                          {% else %}
                            class="waves-effect"
                          {% endif %}
                          >Add Category</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect
                    {% if '/products/' == request.path or '/editProduct/' in request.path %} active {% else %} {% endif %}">
                        <i class="bx bx-store"></i>
                        <span key="t-ecommerce">Products</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'allProducts' %}" key="t-products"
                          {% if '/products/' == request.path %}
                            class="waves-effect active"
                          {% else %}
                            class="waves-effect"
                          {% endif %}
                          >All Products</a></li>
                        <li><a href="{% url 'addProduct' %}" key="t-product-detail"
                          {% if '/addProduct/' == request.path %}
                            class="waves-effect active"
                          {% else %}
                            class="waves-effect"
                          {% endif %}
                          >Add Product</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/business/profile"
                    {% if 'orders' in request.path or 'editOrder' in request.path %}
                      class="waves-effect active"
                    {% else %}
                      class="waves-effect"
                    {% endif %}
                    >
                        <i class="bx bxs-cart"></i>
                        <span>Manage Orders</span>
                    </a>
                </li>


                <li>
                    <a href="/business/profile"
                    {% if 'profile' in request.path or 'editProfile' in request.path %}
                      class="waves-effect active"
                    {% else %}
                      class="waves-effect"
                    {% endif %}
                    >
                        <i class="bx bxs-user-detail"></i>
                        <span>Profile</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'paymentSettings' user.id %}"
                    {% if 'paymentSettings' in request.path %}
                      class="waves-effect active"
                    {% else %}
                      class="waves-effect"
                    {% endif %}
                    >
                        <i class="bx bxs-credit-card"></i>
                        <span>Payment Settings</span>
                    </a>
                </li>

                <li {% if '/site_settings/header/' in request.path or '/site_settings/banner/' in request.path %} class="mm-active" {% endif %}>
                    <a href="javascript: void(0);" class="has-arrow waves-effect
                    {% if '/site_settings/' in request.path %} active {% else %} {% endif %}">
                        <i class="bx bx-cog"></i>
                        <span key="t-ecommerce">Site Settings</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'header' %}" key="t-products"
                          {% if '/site_settings/header/' in request.path %}
                            class="waves-effect active"
                          {% else %}
                            class="waves-effect"
                          {% endif %}
                          >Header</a></li>

                    </ul>
                </li>

                <li>
                    <a href="javascript:{document.getElementById('biz_logout').submit()}" class="waves-effect">
                        <i class="bx bx-power-off font-size-16 align-middle"></i>
                        <span key="t-logout">Logout</span>
                    </a>
                </li>


                <form action="{% url 'biz_logout' %}" id="biz_logout" method="POST">
                  {% csrf_token %}
                  <input type="hidden">
                </form>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
