{% load static %}
<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <title>Reset Password | Regional Manager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Regional Manager | Password Reset" name="description" />
  <meta content="Themesbrand" name="author" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- Bootstrap Css -->
  <link href="{% static 'business/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link href="{% static 'business/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="{% static 'business/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/ajax-js.js' %}"></script>

</head>

<body>
  <div class="home-btn d-none d-sm-block">
    <a href="index.html" class="text-dark"><i class="mdi mdi-home-variant h2"></i></a>
  </div>
  <div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="bg-soft-primary">
              <div class="row">
                <div class="col-12">
                  <div class="text-primary p-4">
                    <h5 class="text-primary"> Hi Regional Manager,</h5>
                    <p>Please reset your password to activate your account.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div>
                <a href="index.html">
                  <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                      <img src="{% static 'business/images/logo.svg' %}" alt="" class="rounded-circle" height="34">
                    </span>
                  </div>
                </a>
              </div>

              <div class="p-2">
                {% include '../includes/_alerts.html' %}
                <form action="{% url 'rm_resetForgotPassword' %}" class="form-horizontal" method="POST">
                  {% csrf_token %}

                  <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password" required>
                    <div id="strengthMessage"></div>
                  </div>

                  <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm password" required>
                  </div>

                  <div class="form-group row mb-0">
                    <div class="col-12 text-right">
                      <button onclick="return giveAlert()" class="btn btn-primary w-md waves-effect waves-light" type="submit" id="submit">Reset</button>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

</body>

</html>
