{% extends 'business/base.html' %}
{% load static %}
{% block title %} Add Category {% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Add Category</h4>
          </div>
        </div>
      </div>
      <!-- end page title -->
      <div class="row">
        <div class="col-12">
          <div class="card container">

            <div class="card-body">
              <div class="text-sm-right">
                <a href="{% url 'addBlog' %}" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i> Add New Blog</a>
              </div>
              {% include 'includes/_alerts.html' %}

              <form method="POST" action="{% url 'addBlogCategories' %}" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="productname">Category Name</label>
                      {{ blogform.category_name }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="parent">Subcategory <small>(Optional)</small> <span><small>By default, this will be added as a main category.</small></span></label>
                      {{ blogform.parent }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="productname">Category Description <small>(Optional)</small></label>
                      {{ blogform.description }}
                    </div>
                  </div>
                </div>
                <a onclick="goBack();" class="btn btn-secondary"><i class="fas fa-arrow-left"></i>&nbsp; Go back</a>
                <button type="submit" class="btn btn-primary mr-1 waves-effect waves-light" style="letter-spacing: 2px;"><i class="fas fa-check"></i> SAVE</button>
              </form>
            </div>
          </div>

        </div>
      </div>
      <!-- end row -->
    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
  {% endblock %}
