{% extends 'business/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans 'Add Product' %} {% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">{% trans 'Add Product' %}</h4>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card container">
            <div class="card-body">
              <h4 class="card-title">{% trans 'Product Information' %}</h4>
              <p class="card-title-desc">{% trans 'Fill all information below' %}</p>
              {% include 'includes/_alerts.html' %}

              <form method="POST" action="{% url 'addProduct' %}" name="addProductForm" enctype="multipart/form-data">
                {% csrf_token %}


                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="productname">{% trans 'Product Name' %}</label>
                      {{ basicInfo_form.product_name }}
                      
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="productname">{% trans 'Category' %} <span><small><a href="{% url 'addCategory' %}">&nbsp;&nbsp;{% trans 'Add New Category' %}</a></small></span></label>
                      {{ basicInfo_form.category }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="productname">{% trans 'Product Description' %}</label>
                      {{ basicInfo_form.description }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="productname">{% trans 'Full Specification' %}</label>
                      {{ basicInfo_form.full_specification }}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="productname">{% trans 'Product Variation' %}</label>
                      {{ basicInfo_form.variant }}
                    </div>
                  </div>
                </div>
                <p id="price_stock_info" class="text-success"></p>


                <div class="row" id="price_stock">
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="productname">{% trans 'Price' %}</label>
                      {{ basicInfo_form.price }}
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="productname">{% trans 'Stock' %}</label>
                      {{ basicInfo_form.stock }}
                    </div>
                  </div>
                  </div>

                  <!-- <div class="row" id="custom_attribute" style="display: none;"> -->
                    <!-- <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="form-group">
                        <label for="productname">{% trans 'Product Attribute' %}</label>
                        {{ basicInfo_form.price }}
                      </div>
                    </div> -->
                    <!-- <div class="col-md-6 col-lg-6 col-sm-12">
                      <div class="form-group">
                        <label for="productname">{% trans 'Attribute Value' %}</label>
                        {{ basicInfo_form.stock }}
                      </div>
                    </div> -->
                    <!-- </div> -->



                <div class="row">
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                      <img src="{{ product.image.url }}" alt="" width="50">
                      <label for="productname">{% trans 'Primary Product Image' %} <span class="text-muted">&nbsp; 500 x 500px</span></label>

                      {{ basicInfo_form.image }}
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                      <img src="{{ product.image_2.url }}" alt="" width="50">
                      <label for="productname">{% trans 'Secondary Product Image' %} <span class="text-muted">&nbsp; 500 x 500px</span></label>

                      {{ basicInfo_form.image_2 }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">

                      <div>{{ basicInfo_form.is_popular }}<span for="is popular" style="margin-left:10px;">{% trans 'Set this product as Popular Product?' %}</span></div>
                    </div>
                  </div>
                </div>
                <p class="text-danger" id="descError"></p>
                <button type="submit" onclick="return checkforFields();" class="btn btn-primary mr-1 waves-effect waves-light" style="float: right;letter-spacing: 2px;">{% trans 'SAVE' %} & {% trans 'CONTINUE' %} <i class="fas fa-arrow-right"></i></button>
              </form>


            </div>
          </div>




        </div>
      </div>
      <!-- end row -->

    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->


  <script type="text/javascript">
    var variant = document.getElementById("id_variant").value
    var price = document.getElementById("id_price")
    var stock = document.getElementById("id_stock")
    if(variant == 'None'){
      price.setAttribute('required', 'required');
      stock.setAttribute('required', 'required');
    }
    function showDiv(select){
      
      var price = document.getElementById("id_price")
      var stock = document.getElementById("id_stock")
       if(select.value=='None'){
         document.getElementById('price_stock').style.display = "flex";
         price.setAttribute('required', 'required');
         stock.setAttribute('required', 'required');
         document.getElementById('price_stock_info').innerHTML = "";

       } else if(select.value == 'Custom'){
        document.getElementById('price_stock').style.display = "none";
        price.setAttribute('required', 'false');
        stock.setAttribute('required', 'false');
       }
       else{
         document.getElementById('price_stock').style.display = "none";
         price.removeAttribute('required');
         stock.removeAttribute('required');
         document.getElementById('price_stock_info').innerHTML = "Price and Stock can be added with product variants"
       }
    }

    // Check for fields
    function checkforFields(){
      var desc = $("#cke_id_description iframe").contents().find("body").text();
      if(desc === ''){
        document.getElementById("descError").innerHTML = "Product Description cannot be blank.";
        return false;
      }
      else{
        document.getElementById("descError").innerHTML = "";
        return true;
      }
    }
    </script>

  {% endblock %}
