{% extends 'business/base.html' %}
{% load static %}
{% block title %} All Categories {% endblock %}
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">All Categories</h4>
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);"> Categories</a></li>
                <li class="breadcrumb-item active">All  Categories</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->
      {% include 'includes/_alerts.html' %}
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body" style="padding: 1.25rem 3rem 1.25rem 3rem;">
              {% if not blogcategories %}
              <h2 class="text-center" style="padding:25px;">You do not have any category</h2>
              <div class="text-sm-center" style="padding-bottom:25px;">
                <a href="{% url 'addBlogCategories' %}" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i> Add New Category</a>
              </div>
              {% else %}
              <div class="row mb-2">
                <div class="col-sm-4">
                  <div class="search-box mr-2 mb-2 d-inline-block">
                    <div class="position-relative">
                    </div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="text-sm-right">
                    <a href="{% url 'addBlogCategories' %}" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i> Add New Category</a>
                  </div>
                </div><!-- end col-->
              </div>
              {% load mptt_tags %}
              {% recursetree blogcategories %}
              <p class="allCategories" style="display: flex;justify-content:center;align-items:center;margin-right:15px;">
                <a class="btn btn-{% if not node.is_leaf_node %}link{% else %}link{% endif %} w-100 ml-50 text-left" data-toggle="collapse" href="#collapseCategory-{{node.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ node.category_name }} {% if not node.is_leaf_node %}&nbsp&nbsp&nbsp<i class="fa fa-angle-right" aria-hidden="true"></i>{% endif %}
&nbsp&nbsp<small style="color:grey;">{{node.description | slice:":25"}}</small>
                  <span class="float-right">
                    <a href="{% url 'editBlogCategory' node.id %}" style="padding:10px;"><i class="fa fa-edit text-secondary"></i></a>
                    &nbsp&nbsp&nbsp
                    <a href="{% url 'deleteBlogCategory' node.id %}" style="padding:10px;" onclick="return confirm('This action will also delete the subcategories (if any) permanently. Proceed?');"><i class="fa fa-trash text-danger"></i></a>
                  </span>
                </a>
              </p>
              <div class="collapse" id="{% if not node.is_leaf_node %}collapseCategory-{{node.id}}{% else %}#{% endif %}">
                <div style="padding: 1.25rem 0 1.25rem 3rem;">
                  {% if not node.is_leaf_node %}
                  {{ children }}
                  {% endif %}
                </div>
              </div>
              {% endrecursetree %}
        {% endif %}
            </div>
          </div>

        </div>
        <!-- end row -->
      </div> <!-- container-fluid -->
    </div>
    {% endblock %}
