
{% extends 'business/base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% block title %} {% trans 'All Comments' %} {% endblock %}
{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">{% trans 'All Comments' %}</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">{% trans 'Comments' %}</a></li>
                <li class="breadcrumb-item active">{% trans 'All Comments' %}</li>
              </ol>
            </div>

          </div>
        </div>
      </div>
      <!-- end page title -->
      {% include 'includes/_alerts.html' %}
      <div class="row">
        <div class="col-12">
          <div class="card">

            {% if not comments %}
            <h2 class="text-center" style="padding:25px;">{% trans 'You do not have any comments  yet' %}</h2>
            {% else %}
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-sm-4">
                  
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-centered table-hover" id="dTable">
                  <thead class="thead-light">
                    <tr>
                      <th>{% trans 'Customers' %}</th>
                      <th>{% trans 'Blogs' %}</th>
                      <th>{% trans 'Comments' %}</th>
                      <th>{% trans 'Replies' %}</th>
                      <th>{% trans 'Date' %}</th>
                      <th>{% trans 'Approval' %}</th>

                    </tr>
                  </thead>
                  <tbody id="myTable">

                    <!-- {% for i in replies %}
                    {{i.id}}<br>
                    {{i.number_of_replies}}
                    <hr>
                    {% endfor %} -->

                    {% for comment in comments %}
                    <tr>
                      <td>{{comment.user.name}} </td>
                      <td style="max-width:200px;"> {{comment.blog}}</td>
                      <td style="max-width:200px;">
                          {{comment.comment_body}}
                      </td>
                      <td><a href="{% url 'commentReplies' comment.id %}"> {{comment.number_of_replies}} {% trans 'replies' %}</a></td>
                      <td>
                        {{comment.created_on}}
                      </td>
                      <td>
                        <p id="commentstatus-{{comment.id}}">{% if comment.is_active %}{% trans 'Approved' %}{% else %}{% trans 'Pending' %}{% endif %}</p>
                        <label class="switch">
                          <input type="checkbox" id="approvalSwitch-{{comment.id}}"
                          {% if comment.is_active %} checked {% else %} {% endif %} onclick="approvalSwitch({{comment.id}})">
                          <span class="slider round"></span>
                        </label>
                      </td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- end row -->
    </div> <!-- container-fluid -->
  </div>
  {% endblock %}
