{% extends 'business/base.html' %}
{% load static %}
{% block title %} Variant Colors {% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Variant Colors</h4>



          </div>
        </div>
      </div>
      <!-- end page title -->
      {% include 'includes/_alerts.html' %}
      <div class="row">
        <div class="col-12">
          <div class="card">

            {% if not colors %}
            <div class="text-sm-center" style="padding-bottom:25px;padding-top:25px;">
              <a href="{% url 'addColor' %}" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i> Add Color</a>
            </div>
            {% else %}
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-sm-4">
                  <div class="search-box mr-2 mb-2 d-inline-block">
                    <div class="position-relative">
                      <input type="text" class="form-control" id="myInput" placeholder="Search...">
                      <i class="bx bx-search-alt search-icon"></i>
                    </div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="text-sm-right">
                    <a href="{% url 'addColor' %}" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i> Add Color</a>
                  </div>
                </div><!-- end col-->
              </div>

              <div class="table-responsive">

                <table class="table table-centered">
                  <thead class="thead-light">
                    <tr>
                      <!-- <th style="width: 20px;">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                        </div>
                      </th> -->
                      <th>Color</th>
                      <th>Color Code</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>


                    {% for color in colors %}
                    <tr>

                      <td>
                        {{color.name}}
                      </td>
                      <td>
                        {{color.code}}
                      </td>

                      <td>
                        <a href="{% url 'editColor' color.id %}" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                        <a href="{% url 'deleteColor' color.id %}" onclick="return confirm('Are you sure you want to delete this color?')" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i
                            class="mdi mdi-close font-size-18"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <!-- Paginator Start -->
              {% if products.has_other_pages %}
              <ul class="pagination pagination-rounded justify-content-end mb-2">
                {% if products.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{products.previous_page_number}}" aria-label="Previous">
                    <i class="mdi mdi-chevron-left"></i>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" aria-label="Previous">
                    <i class="mdi mdi-chevron-left"></i>
                  </a>
                </li>
                {% endif %}
                {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}

                {% if products.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{products.next_page_number}}" aria-label="Next">
                    <i class="mdi mdi-chevron-right"></i>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" aria-label="Next">
                    <i class="mdi mdi-chevron-right"></i>
                  </a>
                </li>
                {% endif %}
              </ul>
              {% endif %}
              <!-- Paginator End -->

            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- end row -->
    </div> <!-- container-fluid -->
  </div>


  {% endblock %}
