{% extends 'business/base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% block title %} {% trans 'Customer Details' %} {% endblock %}
{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">{% trans 'Customer Profile' %}</h4>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card container">
            <div class="card-body">


              <div class="row billing-fields">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 sm-margin-30px-bottom">
                  <div class="create-ac-content bg-light-gray padding-20px-all">

                    <div class="your-order">
                      <div style="display:flex;">
                        <img src="{{customer.user.profile_picture.url}}" alt="Customer Image" width="100" style="border-radius:50px;">
                        <h2 class="order-title" style="vertical-align:middle;margin:auto;">{{customer.user.name}}</h2>

                        <!-- <p style="float:right;">{{customer.user.created_date}}</p> -->
                      </div><br>


                      <p style="margin-bottom:0;">{% trans 'Registered Date' %}: {{customer.user.date_joined}}</p>
                      <div class="table-responsive-sm order-table">

                        <div class="card">
                          <div class="card-header">
                            <div class="row">
                              <div class="col-12">
                                <h5 class="m-0">{% trans 'Customer ID' %}: <strong style="letter-spacing: 2px;">{{customer.customer_id }}</strong> <span><small class="m-0" style="float:right;margin-bottom:0;">{% trans 'Last login' %}: {{customer.user.last_login}}</small></span></h5>

                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12">
                              <div class="card-body">
                                <p class="card-text mb-0" style="font-weight:600;">{{customer.user.name}}</p>
                                <p class="card-text mb-0">{{customer.user.username}}</p>
                                <p class="card-text mb-0">{{customer.full_address}}</p>
                                {% if customer.city or customer.pin_code %}
                                <p class="card-text mb-0">{{customer.city}}, {{customer.pin_code}}</p>
                                {% endif %}
                                {% if customer.state or customer.country %}
                                <p class="card-text mb-0">{{customer.state}}, {{customer.country}}</p>
                                {% endif %}
                              </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                              <div class="card-body">
                                <p class="card-text mb-0">{% trans 'Gender' %}: {{customer.user.gender | capfirst}}</p>
                                <p class="card-text mb-0"><a href="mailto:{{customer.user.email}}">{{customer.user.email}}</a></p>
                                <p class="card-text mb-0"><a href="tel:{{customer.user.phone_number}}">{{customer.user.phone_number}}</a></p>
                              </div>
                            </div>
                          </div>
                        </div>






                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <button onclick="goBack();" class="btn btn-primary"><i class="fas fa-arrow-left"></i>&nbsp{% trans 'Go back' %} </button>
            </div>
          </div>




        </div>
      </div>
      <!-- end row -->

    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  {% endblock %}
