{% extends 'business/base.html' %}
{% load static %}
{% block title %} Edit Variant Value {% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Edit Variant Value</h4>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card container">


            <div class="card-body">
              <div class="text-sm-right">
                <a href="{% url 'addVariant' %}" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i> Add New Variant</a>
              </div>
              {% include 'includes/_alerts.html' %}

              <form method="POST" action="{% url 'addVariant' %}" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="productname">Variant Name</label>
                      {{ form.product_attribute }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="productname">Variant Value</label>
                      {{ form.attribute_value }}
                    </div>
                  </div>
                </div>
                <div style="display:flex;">
                  <a onclick="goBack()" class="btn btn-secondary" style="margin:5px;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
                  <button type="submit" class="btn btn-primary mr-1 waves-effect waves-light" style="float: left;letter-spacing: 2px;margin:5px;"><i class="fas fa-check"></i> SAVE</button>
                </div>

              </form>
            </div>
          </div>




        </div>
      </div>
      <!-- end row -->

    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  {% endblock %}
