{% extends 'business/base.html' %}
{% load static %}
{% block title %} Edit Gallery {% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Add Product</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">{{product.product_name}}</a></li>
                <li class="breadcrumb-item active">Edit Product</li>
              </ol>
            </div>

          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card container">
            <div class="card-body">
              <h4 class="card-title">Manage Product Gallery</h4>
              <!-- <p class="card-title-desc">Fill all information below</p> -->
              {% include 'includes/_alerts.html' %}

              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                  {{ formset.management_form }}
                  <!-- {% for form in formset %}
                  {% if form.image.value.url is not None %}
                  <img src="{{form.image.value.url}}" alt="" width="75" height="75">
                  {% else %}
                  {% endif %}
                  {% endfor %} -->
                  {% for form in formset.forms %}
                  {% if forloop.first %}
                  <thead>
                    <tr>
                      {% for field in form.visible_fields %}
                      <th>{{ field.label|capfirst }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  {% endif %}
                  <tr class="{% cycle row1 row2 %} formset_row editGallery">
                    {% for field in form.visible_fields %}
                    <td>
                      {# Include the hidden fields in the form #}
                      {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                          {{ hidden }}
                        {% endfor %}
                      {% endif %}
                      {{ field.errors.as_ul }}
                      <img src="{{ field.value.url }}" alt="" width="75">
                      {{ field }}
                    </td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </table>
                <div class="row">
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <a onclick="goBack()" class="btn margin-15px-top btn-secondary" style="letter-spacing: 2px;"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK</a>
                    <button type="submit" name="add_another" value="true" class="btn btn-success mr-1 waves-effect waves-light" style="letter-spacing: 2px;" formaction="{% url 'editGallery' product.id %}"><i class='fas fa-plus'></i>
                      SAVE & ADD ANOTHER</button>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    {% if product.price and product.stock %}
                    <button type="submit" name="add_another" value="finish" class="btn btn-primary mr-1 waves-effect waves-light" style="float: right;letter-spacing: 2px;" formaction="{% url 'editGallery' product.id %}"><i class="fas fa-check"></i> FINISH
                      </button>
                    {% else %}
                    <button type="submit" name="add_another" value="false" class="btn btn-primary mr-1 waves-effect waves-light" style="float: right;letter-spacing: 2px;" formaction="{% url 'editGallery' product.id %}">SAVE & CONTINUE
                      <i class="fas fa-arrow-right"></i></button>
                    {% endif %}
                    <a href="{% url 'editVariants' product.id  %}" class="btn btn-secondary mr-1 waves-effect waves-light" style="float: right;letter-spacing: 2px;">SKIP <i class="fa fa-fast-forward"></i></a>
                
                  </div>
                </div>
                
                  
              </form>
            </div>
          </div>




        </div>
      </div>
      <!-- end row -->

    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Gallery Image',
        deleteText: 'remove',
        prefix: 'gallery_formset'
    });
</script>

  {% endblock %}
