{% extends 'business/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans 'Edit Color' %} {% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">{% trans 'Edit Color' %}</h4>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card container">


            <div class="card-body">

              {% include 'includes/_alerts.html' %}

              <form method="POST" action="{% url 'editColor' color.id %}" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="productname">{% trans 'Color Name' %}</label>
                      {{ form.name }}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="productname">{% trans 'Color Code' %}</label>
                      {{ form.code }}
                    </div>
                  </div>
                </div>



                <div style="display:flex;">
                  <a onclick="goBack()" class="btn btn-secondary" style="margin:5px;"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans 'Back' %}</a>
                  <button type="submit" class="btn btn-primary mr-1 waves-effect waves-light" style="float: left;letter-spacing: 2px;margin:5px;"><i class="fas fa-check"></i>{% trans 'SAVE' %} </button>
                </div>
              </form>
            </div>
          </div>




        </div>
      </div>
      <!-- end row -->

    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  {% endblock %}
