{% extends 'business/base.html' %}
{% load static %}


{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Add Product</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">{{product.product_name}}</a></li>
                <li class="breadcrumb-item active">Edit Product</li>
              </ol>
            </div>

          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card container">
            <div class="card-body">
              <h4 class="card-title">Manage Product Variants</h4>
              <!-- <p class="card-title-desc">Fill all information below</p> -->
              {% include 'includes/_alerts.html' %}

              <div class="container varImagContainer">
                <p>Copy Image ID and paste it into <span><b>Image id</b></span> field</p>
                {% for image in gallery %}
                <label class="var_image">

                  <ul class="var_image_list">
                    <input type="radio" name="imageid" id="imageid" value="{{image.id}}">
                    <li class="active">
                      <img src="{{image.image.url}}" alt="Variant Image" width="50">
                      <p class="text-center mt-2">ID: <b>{{image.id}}</b></p>
                    </li>
                  </ul>
                </label>
                {% endfor %}

              </div>

              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                  {{ formset.management_form }}

                  {% for form in formset.forms %}
                  {% if forloop.first %}
                  <thead>
                    <tr>
                      {% for field in form.visible_fields %}
                      <th>{{ field.label|capfirst }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  {% endif %}
                  <tr class="{% cycle row1 row2 %} formset_row">
                    {% for field in form.visible_fields %}
                    <td>
                      {# Include the hidden fields in the form #}
                      {% if forloop.first %}
                      {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                      {% endfor %}
                      {% endif %}
                      {{ field.errors.as_ul }}

                      {{ field }}
                    </td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </table>
                <button type="submit" name="add_another" value="true" class="btn btn-success mr-1 waves-effect waves-light" style="letter-spacing: 2px;" formaction="{% url 'editVariants' product.id %}"><i class='fas fa-plus'></i>
                  SAVE & ADD ANOTHER</button>
                <button type="submit" name="add_another" value="false" class="btn btn-primary mr-1 waves-effect waves-light" style="float: right;letter-spacing: 2px;" formaction="{% url 'editVariants' product.id %}"><i class="fas fa-check"></i>
                  FINISH
                </button>
              </form>
            </div>
          </div>




        </div>
      </div>
      <!-- end row -->

    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script type="text/javascript">
    $('.formset_row').formset({
      addText: 'Gallery Image',
      deleteText: 'remove',
      prefix: 'gallery_formset'
    });


    // $(document).ready(function(){
    //  $('.image_id').focus(function(){
    //      $('.varImagContainer').fadeIn(50);
    //    })
    // });
  </script>

  {% endblock %}
