{% extends 'business/base.html' %}
{% load static %}
{% block title %} Plans {% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

          <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">You are currently on <span class="text-success">{{current_plan}}</span> plan</h4>



          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-10" style="margin:auto;">
          {% include 'includes/_alerts.html' %}


          <div class="card-deck mb-3 text-center">

            {% for plan in plans %}
            <div class="card">
              <div class="card-header">
                <h5 class="my-0">{{plan.plan_name}}</h5>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">${{plan.plan_price}}</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>{{plan.plan_description}}</li>
                </ul>
                <form action="{% url 'purchasePlan' %}" method="GET">
                  <input type="hidden" name="plan_id" value="{{plan.id}}">
                  <button type="submit" class="btn  btn-block btn-primary">Purchase Now</button>
                </form>

              </div>
            </div>
            {% endfor %}
            
          </div> <!-- card-deck.// -->
          <!-- end card -->
        </div>

      </div>
      <!-- end row -->

    </div> <!-- container-fluid -->
  </div>


  <!-- End Page-content -->



  {% endblock %}
