{% extends 'business/base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% block title %} {% trans 'Plan Purchase History' %} {% endblock %}
{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">{% trans 'Plan Purchase History' %}</h4>
          </div>
        </div>
      </div>
      <!-- end page title -->
      {% include 'includes/_alerts.html' %}
      <div class="row">
        <div class="col-12">
          <div class="card">

            {% if not plan_orders %}
            {% if is_expired %}
              <h4 class="text-center" style="padding:25px;">{% trans 'Your subscription is expired. Please renew it to continue using the website' %}.</h4>
              <div class="text-center"><a href="{% url 'plans' %}" class="btn btn-primary" style="width:150px;">{% trans 'Buy/Renew' %}</a></div>
              <br>
            {% else %}
            <h4 class="text-center" style="padding:25px;">{% trans 'You are currently on' %} <b>{{current_plan}}</b> {% trans 'plan' %}. {% trans 'Your subscription will be expired on' %} <b>{{account_expiry_date}}</b></h4>
            <hr>
            <h6 class="text-center">{% trans 'No history found.' %}</h6>
            <br>
            {% endif %}
            {% else %}
            <div class="card-body">
             

              <div class="table-responsive">
                <table class="table table-centered table-nowrap" id="dTable">
                  <thead class="thead-light">
                    <tr>
                      <th>{% trans 'Plan' %}</th>
                      <th>{% trans 'Order Number' %}</th>
                      <th>{% trans 'Transaction ID' %}</th>
                      <th>{% trans 'Total' %}</th>
                      <th>{% trans 'Date' %}</th>
                      <th>{% trans 'View Details' %}</th>
                    </tr>
                  </thead>
                  <tbody id="myTable">



                    {% for order in plan_orders %}
                    <tr>
                      <td><a href="{% url 'planHistoryDetail' order.id %}">{{order.plan}}</a></td>
                      <td>{{order.order_number}}</td>
                      <td>{{order.plan_payment}}</td>
                      <td>
                        $ {{order.total}}
                      </td>
                      <td>
                        {{order.created_at}}
                      </td>
                      <td>
                        <a href="{% url 'planHistoryDetail' order.id %}" class="btn btn-primary">
                          {% trans 'View Details' %}
                        </a>
                      </td>



                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>



              

            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- end row -->
    </div> <!-- container-fluid -->
  </div>


  {% endblock %}
