{% load static %}
{% load i18n %}
{% load mptt_tags %}
<!--Header-->
<header class="header animated d-flex align-items-center header-1">
  <div class="container-fluid">
        <div class="row">
          <!--Mobile Icons-->
          <div class="col-4 col-sm-4 col-md-4 d-block d-lg-none mobile-icons">
                <!--Mobile Toggle-->
                <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                    <i class="icon anm anm-times-l"></i>
                    <i class="anm anm-bars-r"></i>
                </button>
                <!--End Mobile Toggle-->
                <!--Search-->
                <div class="site-search iconset">
                    <i class="icon anm anm-search-l"></i>
                </div>
                <!--End Search-->
            </div>
            <!--Mobile Icons-->
            <!--Desktop Logo-->
            <div class="logo col-4 col-sm-4 col-md-4 col-lg-1 align-self-center">
                <a href="{% url 'home' %}">
                  {% if header.site_logo %}
                    <img src="{{ header.site_logo.url }}" alt="{{ header.site_title }}" title="{{ header.site_title }}" />
                  {% else %}
                    <img src="{% static 'images/default-images/logo.png' %}" alt="Altocan" style="max-width:100%;max-height: 100%;" />
                  {% endif %}

                </a>
            </div>
            <!--End Desktop Logo-->

            <div class="col-1 col-sm-1 col-md-1 col-lg-7 align-self-center d-menu-col">
                <!--Desktop Menu-->
                <nav class="grid__item" id="AccessibleNav">
                    <ul id="siteNav" class="site-nav medium center hidearrow">
                        <li class="lvl1 parent megamenu mdropdown"><a href="{% url 'home' %}">{% trans 'Home' %} <i class="anm anm-angle-down-l"></i></a></li>
                        <li class="lvl1 parent dropdown"><a href="#">{% trans 'Categories' %} <i class="anm anm-angle-down-l"></i></a>
                          <ul class="dropdown">
                            <li class="site-nav"><a href="{% url 'shop' %}">{% trans 'All Products' %}</a></li>
                            {% recursetree category %}
                              <li><a href="{% url 'shop' %}category/{{ node.slug }}" class="site-nav">{{ node.category_name }} {% if not node.is_leaf_node %}<i class="anm anm-angle-right-l"></i>{% endif %}</a>
                                {% if not node.is_leaf_node %}
                                <ul class="dropdown">
                                      {{ children }}
                                </ul>
                                {% endif %}
                              </li>
                            {% endrecursetree %}
                          </ul>
                        </li>
                    <li class="lvl1 parent megamenu"><a href="{% url 'shop' %}">{% trans 'Shop' %} <i class="anm anm-angle-down-l"></i></a></li>
                    <li class="lvl1 parent megamenu"><a href="{% url 'about' %}">{% trans 'About Us' %} <i class="anm anm-angle-down-l"></i></a></li>
                    <li class="lvl1 parent megamenu"><a href="{% url 'contact_page' %}">{% trans 'Contact Us' %} <i class="anm anm-angle-down-l"></i></a></li>
                    {% if blog_activation.is_enabled %}
                    <li class="lvl1 parent megamenu"><a href="{% url 'blog' %}">{% trans 'Blogs' %} <i class="anm anm-angle-down-l"></i></a></li>
                    {% endif %}
                  </ul>
                </nav>
                <!--End Desktop Menu-->
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 align-self-center icons-col text-right">
              <!--Search-->
                <div class="site-search iconset">
                    <i class="icon anm anm-search-l"></i>
                </div>
                <div class="search-drawer">
                  <div class="container">
                        <span class="closeSearch anm anm-times-l"></span>
                        <h3 class="title">{% trans 'What are you looking for?' %}</h3>
                        <div class="block block-search">
                            <div class="block block-content">
                                <form action="{% url 'search' %}" class="form minisearch" id="header-search" method="GET">
                                    <label for="search" class="label"><span>{% trans 'Search' %}</span></label>
                                    <div class="control">
                                        <div class="searchField">
                                            <div class="input-box">
                                                <input id="search" type="text" name="keyword" value="{{ values.keyword }}" placeholder="{% trans 'Search for products' %}..." class="input-text" required>
                                                <button type="submit" title="Search" class="action search"><i class="icon anm anm-search-l"></i></button>
                                            </div>
                                        </div>
                                  </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Search-->
                <!--Setting Dropdown-->
                {% if user.id is not None %}
                <div class="setting-link iconset">
                  <img src="{{ user.profile_picture.url }}" alt="" width="30" height="30" style="border-radius:50px;">
                </div>

                {% else %}
                <div class="setting-link iconset">
                  <i class="icon icon-user"></i>
                </div>
                {% endif %}
                <div id="settingsBox">
                {% if user.id is not None %}
                <div class="customer-links">

                    <p class="text-center">{% trans 'Welcome' %} <strong>{{ user.name }}</strong></p>
                    {% if user.is_business %}
                    <p><a href="{% url 'biz_dashboard' %}" class="btn">{% trans 'Business Dashboard' %}</a></p>
                    {% elif user.is_regional_manager %}
                    <p><a href="{% url 'rm_dashboard' %}" class="btn">{% trans 'Account Manager' %}</a></p>
                    {% endif %}
                    <p><a href="{% url 'userDashboard' %}" class="btn">{% trans 'My Account' %}</a></p>
                    <p class="text-right"><span><a href="javascript:{document.getElementById('logout').submit()}" style="color:red;">{% trans 'Logout' %}</a></span></p>
                    <form action="{% url 'logout' %}" id="logout" method="POST">
                      {% csrf_token %}
                      <input type="hidden">
                    </form>

                  </div>
                {% else %}
                <div class="customer-links">
                  <p class="text-center">{% trans 'Welcome Guest' %}!</p>
                    <p><a href="{% url 'userLogin' %}" class="btn">{% trans 'Login' %}</a></p>
                      <p class="text-center">{% trans 'New User?' %} <a href="{% url 'userRegister' %}" class="register">{% trans 'Create an Account' %}</a></p>

                  </div>
                {% endif %}


                    <!-- <div class="currency-picker">
                      <span class="ttl">Select Currency</span>
                        <ul id="currencies" class="cnrLangList">
                        <li class="selected"><a href="#;">INR</a></li><li><a href="#;">GBP</a></li><li><a href="#;">CAD</a></li><li><a href="#;">USD</a></li><li><a href="#;">AUD</a></li><li><a href="#;">EUR</a></li><li><a href="#;">JPY</a></li></ul>
                    </div> -->
                    <!-- <div class="language-picker">
                      <span class="ttl">SELECT LANGUAGE</span>
                        <ul id="language" class="cnrLangList">
                            <li><a href="#">English</a></li><li><a href="#">French</a></li><li><a>German</a></li>
                        </ul>
                    </div> -->
                </div>
                <!--End Setting Dropdown-->
                <!--Wishlist-->
                <div class="wishlist-link iconset" title="Wishlist">
                  <a href="{% url 'wishlist' %}" class="site-header__cart btn-minicart">
                    <i class="icon anm anm-heart" style="color:red;"></i>
                    <span class="wishlist-count">{{wish_count}}</span>
                  </a>
                </div>
                <!--End Wishlist-->
                <!--Compare-->
                <div class="wishlist-link iconset" title="Compare">
                  <a href="{% url 'compare_products' %}" class="site-header__cart btn-minicart">
                    <i class="icon anm anm-sync-ar" aria-hidden="true"></i>
                    <span class="wishlist-count">{{compare_count2}}</span>
                  </a>
                </div>
                <!--End Compare-->
                <!--Minicart Dropdown-->
                <div class="header-cart iconset" title="Cart">
                    <a href="{% url 'cart' %}" class="site-header__cart btn-minicart" data-toggle="modal" data-target="#minicart-drawer">
                    <!-- <a href="{% url 'cart' %}" class="site-header__cart btn-minicart"> -->
                        <i class="icon anm anm-bag-l"></i>
                        <span class="site-cart-count">{{cart_count}}</span>
                    </a>
                </div>
                <!--End Minicart Dropdown-->
                <div class="language hideonPhone iconset">
                  <!-- Language selection -->
                  {% get_current_language as LANGUAGE_CODE  %}
                  <form action="{% url 'set_language' %}" id="lang_form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{redirect_to}}">
                    <select name="language" id="select_lang" style="padding: 0 20px;">
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as languages %}
                      {% for language in languages %}
                          <option value="{{language.code}}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                            {{language.name_local}} ({{language.code}})
                          </option>
                      {% endfor %}
                    </select>
                   
                  </form>
                </div>
                
            </div>
        </div>
    </div>


     <!--Mobile Menu-->
     <div class="mobile-nav-wrapper" role="navigation">
      <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i>{% trans 'Close Menu'%} </div>

      <br>
      <div class="language showPhone iconset">
        <!-- Language selection -->
        {% get_current_language as LANGUAGE_CODE  %}
        <form action="{% url 'set_language' %}" id="lang_form_mobile" method="POST">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{redirect_to}}">
          <select name="language" id="select_lang_mobile" style="padding: 0 20px;">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{language.code}}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                  {{language.name_local}} ({{language.code}})
                </option>
            {% endfor %}
          </select>
         
        </form>
      </div><br>
      <!--Wishlist-->
      <div class="wishlist-link iconset showPhone" title="Wishlist">
        <a href="{% url 'wishlist' %}" class="site-header__cart btn-minicart">
          <i class="icon anm anm-heart" style="color:red;"></i>
          <span class="wishlist-count">{{wish_count}}</span>
        </a>
      </div>
      <!--End Wishlist-->
      <!--Compare-->
      <div class="wishlist-link iconset showPhone" title="Compare">
        <a href="{% url 'compare_products' %}" class="site-header__cart btn-minicart">
          <i class="icon anm anm-sync-ar" aria-hidden="true"></i>
          <span class="wishlist-count">{{compare_count2}}</span>
        </a>
      </div>
      <!--End Compare-->
<br><br>
          <ul id="MobileNav" class="mobile-nav">
            <li class="lvl1 parent megamenu">
              <a href="{% url 'home' %}">{% trans 'Home'%}</a>
            </li>
            <li class="lvl1 parent megamenu"><a href="#"> {% trans 'Categories'%} <i class="anm anm-plus-l"></i></a>
            <ul>
              <li>
                <a href="{% url 'shop' %}" class="site-nav">{% trans 'All Products'%}</a>
              </li>
              {% recursetree category %}
              <li><a href="{% url 'shop' %}category/{{ node.slug }}" class="site-nav">{{ node.category_name }} {% if not node.is_leaf_node %}<i class="anm anm-plus-l"></i>{% endif %}</a>
                {% if not node.is_leaf_node %}
                <ul class="dropdown">
                      {{ children }}
                </ul>
                {% endif %}
              </li>
            {% endrecursetree %}
              
            </ul>
          </li>
            <li class="lvl1 parent megamenu">
              <a href="{% url 'shop' %}">{% trans 'Shop'%}</a>
          </li>
          <li class="lvl1 parent megamenu">
            <a href="{% url 'about' %}">{% trans 'About Us'%}</a>
        </li>
        <li class="lvl1 parent megamenu">
          <a href="{% url 'contact_page' %}">{% trans 'Contact Us'%}</a>
        </li>
        <li class="lvl1 parent megamenu">
          <a href="{% url 'blog' %}">{% trans 'Blogs'%}</a>
        </li>
        </ul>
    </div>
    <!--End Mobile Menu-->
</header>
<!--End Header-->

<script>
  // Language selection
$('#select_lang').change(function(){
  $('#lang_form').submit();
});
$('#select_lang_mobile').change(function(){
  $('#lang_form_mobile').submit();
});
</script>
