{% extends 'base.html' %}

{% load i18n %}
{% block title %} 500 Internal Server Error {% endblock %}
{% block content %}
{% load static %}
<div id="page-content" class="mb-5">        
    <!--Body Container-->
    <!--Breadcrumbs-->
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a> <span aria-hidden="true">|</span> <span>500 Internal Server Error</span></div>
        </div>
    </div>
    <!--End Breadcrumbs-->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="error-content">
                    <img src="{% static '/images/errorpages/500-error.png' %}" alt=""/>
                    <div><h1>Oops! Something went wrong</h1></div>
                    <p class="mb-0">500 Internal Server Error</p>
                    <p>An unexpected error has occured. Please try again later.</p>
                    <p><a href="{% url 'home' %}" class="btn btn--has-icon-after">{% trans 'Back To Home' %}</a></p>
                </div>
            </div>
        </div>
    </div><!--End Body Container-->
</div><!--End Page Wrapper-->

{% endblock %}