{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE  %}
<!DOCTYPE html>
<html class="no-js" lang="{{LANGUAGE_CODE}}" {% if LANGUAGE_CODE == 'ar' %}dir="rtl"{% endif %}>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% block title %}    {% endblock %} | {% if header.site_title %}{{header.site_title}} {% else %}eCommerce Website{% endif %}</title>
<meta name="description" content="description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="shortcut icon" href="{% if header.favicon %} {{header.favicon.url}}{% endif %}" />
<!-- Plugins CSS -->

<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
<!-- Main Style CSS -->
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="{% static 'css/custom.css'%}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/custom.js' %}"></script>
<!-- File Input Plugin -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>

<!-- PayPal Payments -->
{% if paypal_config %}
<script src="https://www.paypal.com/sdk/js?client-id={{paypal_config.paypal_client_id}}&currency=USD"></script>
{% endif %}
<!-- faicons -->
<link href="{% static 'faicon/css/faicon.css' %}" rel="stylesheet" />
<script type="text/javascript" src="{% static 'faicon/js/list.min.js' %}"></script>
<script type="text/javascript" src="{% static 'faicon/js/faicon.js' %}"></script>


</head>
<body class="template-index index-demo1" onload="DrawCaptcha(), DrawCaptchaRating();">
<!-- <div id="pre-loader">
    <img src="{% static 'images/loader.gif' %}" alt="Loading..." />
</div> -->
<div class="page-wrapper">
    <!--Promotion Bar-->
    {% if topbar.is_enabled %}
	<div class="notification-bar mobilehide">
    	<span class="notification-bar__message">{{ topbar.topbar_text | safe }}</span>
        <span class="close-announcement"><i class="anm anm-times-l" aria-hidden="true"></i></span>
    </div>
    {% endif %}
    <!--End Promotion Bar-->

    {% include 'includes/_navbar.html' %}


  {% block content %}


  {% endblock %}

  {% include 'includes/_footer.html' %}
